/* navbar.css */

/* Các lớp cho Header */
.navbar-container {
    background-color: white;
    border-bottom: 1px solid #e5e7eb; /* Màu xám nhạt giống border-gray-200 */
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }
  
  .navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    background-image: linear-gradient(to right, #f43f5e, #be123c); /* Tạo gradient */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .navbar-title:hover {
    transform: scale(1.05);
    color: transparent; /* Giữ màu text gradient */
  }
  
  .navbar-menu {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background-color: white;
    border: none;
  }
  
  .navbar-menu-item {
    color: black;
    text-transform: none;
    font-weight: normal;
    padding: 0.5rem;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
  }
  
  .navbar-menu-item.active {
    text-transform: uppercase;
    font-weight: bold;
    border-color: #f43f5e; /* Tương ứng với màu rose-600 */
  }
  
  /* Các lớp cho dropdown và button */
  .navbar-user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }
  
  .navbar-user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  
  .navbar-login-button {
    background-color: #f43f5e;
    border-color: #f43f5e;
    color: white;
  }
  
  .navbar-mobile-menu-button {
    display: none;
  }
  
  @media (max-width: 1024px) {
    .navbar-menu {
      display: none;
    }
  
    .navbar-mobile-menu-button {
      display: block;
    }
  }
  