/* Tổng quan về navbar */
.navbar-container {
  background-color: white;
  padding: 20px;
  box-shadow: none;
  transition: all 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: none;

}

.navbar-container.navbar-scrolled {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e5e7eb;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.navbar-logo {
  margin-left: 20px;
  margin-top: 20px;
}

.navbar-logo:hover {
  scale: 1.05;
}


.navbar-menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-menu-item {
  color: #000000;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.navbar-menu-item:hover,
.navbar-menu-item.active {
  color: #f43f5e;
  border-bottom: 2px solid #f43f5e;
  font-weight: bold;
}

/* User actions */
.navbar-actions {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: #f43f5e;
}

.navbar-user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.navbar-login-button {
  background-color: #f43f5e;
  color: #ffffff;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  border: none;
  font-size: 1rem;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-right: 60px;
  padding: 20px;
}

.navbar-login-button:hover {
  background-color: #f43f5e;
  transform: scale(1.05);
}
