/* Footer container styles */
.footer {
  background-color: rgb(0, 0, 0); /* Rose color */
  border-top: 1px solid #e5e7eb;
  padding: 2rem 1rem;
  margin-top: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 8rem;
  height: 8rem;
  margin-bottom: 1rem;
}

.footer-link {
  font-size: 2.25rem;
  font-weight: 800;
  color: #c7c6c2; /* Light Rose */
  text-transform: uppercase;
  text-decoration: none;
}

.footer-link:hover {
  color: #f43f5e; /* Darker Rose */
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-heading {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;
}

.footer-list {
  list-style-type: disc;
  padding-left: 1rem;
  color: white;
}

.footer-item {
  font-size: 1.125rem;
  text-decoration: none;
  color: white;
}

.footer-item:hover {
  color: #f43f5e; /* Light Rose */
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-copyright {
  color: white;
  font-size: 1.125rem;
  text-align: center;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icon {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.social-icon-img {
  font-size: 2rem;
}

.social-icon:hover {
  color: #f43f5e; /* Light Rose */
}
